@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.scss';
@import './variables/global.scss';

body {
    font-family: 'Code Next-Trial';
    background-color: var(--bg-color);
    color: var(--main-color);

    @font-face {
        font-family: 'Code Next-Trial';
        font-weight: 100;
        src: url('../assets/fonts/CodeNext-Trial-Thin.otf');
    }

    @font-face {
        font-family: 'Code Next-Trial';
        font-weight: 700;
        src: url('../assets/fonts/CodeNext-Trial-Bold.otf');
    }
}

.container {
    width: 1180px;
    margin: 0 auto;

    @media screen and (max-width: 380px) {
        min-width: 335px;
        width: 335px;
    }
}